body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-size: 24px;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
